@import "styles/styles-utils.scss";
.go-button {
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: $spacing-xxs $spacing-l;
    cursor: pointer;
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
    &__blue {
        color: $primary-color;
        background-color: $primary-color !important;
    }
    &__gray {
        color: $primary-color;
        background-color: $primary-color;
    }

    svg {
        margin-right: 8px;
    }
}
