@import "styles/styles-utils.scss";

.button {
    vertical-align: middle;
    font-size: $font-size-s;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $background-light;
    padding: $spacing-xxs $spacing-l;
    cursor: pointer;
    background-color: transparent;
    color: $background-light;
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    svg {
        margin-right: $spacing-xs;
    }
}
