@import "styles/styles-utils.scss";
.sidebar {
    width: 200px;
    background-color: $background-light;
    height: 100vh;
    &__title {
        font-family: $font-primary;
        font-size: $font-size-xl;
        border-bottom: 1px solid $border-gray;
        padding: $spacing-s;
    }
}
