/* Font families */
$font-primary: "Open Sans";

/* Font weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* Font sizes */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;

/* spacing */
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-l: 20px;
$spacing-xl: 24px;

/* colors */
$background-blue: #004a96;
$background-light: #eee;
$background-light-gray: #ccc;

/* boders */
$border-gray: #ddd;
